# Ignore environment file
.env

# Ignore dbt profile
walmart_project/profiles.yml

# Ignore target folder
walmart_project/target/
walmart_project/dbt_packages/
walmart_project/logs/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/